/* PALETTE:
#40FFDC  bright turquoise
#00A9D4  cloudy cyan 
#1C3166  dark blue 
#240047  dark purple
#1C0021  almost black
*/
body {
    display: flex;
    flex-direction: column;
    background-color: #1C0021;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    color: #DFDDF2;
}

a:-webkit-any-link {
    color: #DFDDF2;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 10px;
    position:fixed;
    top:0;
    left:0;

}


#intro h1 {
    font-size: 32px;
    font-weight: 400;
}

@media (min-width: 880px){
    #intro h1 {
        font-size: 40px;
    }
}

#intro .buttons{
    margin-top: 20px;
}

#intro .button{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    background: #00A9D4;
    color: #1C0021;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
}