
.navRoot{
    display: flex;
}

header {
    padding-left: 10vw;
    padding-right: 10vw;
    min-width: 320px;
    background: rgba(14, 14, 14, 0.4);
}

header li{
    list-style: none;
}

.navSection.logo{
    flex-grow: 1;
    margin-right: 10px;
}

.navSection.primary{
    display: none;
    font-weight: 600;
}

@media (min-width: 1025px){
    .navSection.primary{
        display: flex;
    }
}

.navSection.primary{
    justify-content: center;
}

.navSection.secondary{
    display: none;
}

@media (min-width: 660px){
    .navSection.secondary{
        display: flex;
    }
}

@media (min-width: 660px){
    .navSection.mobile{
        display: none;
    }
}

.rootLink{
    padding: 0 25px;
    font-size: 17px;
    line-height: 50px;
    color: #DFDDF2;
}

.highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: #240047;
    left: 0;
    z-index: -1;
    border-radius: 4px;
    display: block;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span.span-1:before, #nav-toggle span.span-1:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span.span-1:before {
  top: -10px; 
}
#nav-toggle span.span-1:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span.span-1 {
  transform: rotate(-45deg);
}

#nav-toggle.active span.span-2 {
  transform: rotate(-140deg);
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  /*top: 0;*/
}
#nav-toggle.active span:before {
  background-color: transparent;
}
#nav-toggle.active span:after {
  background-color: transparent;
}