.naves {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.nave {
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 7px;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3em 1.2em 1fr 1.3em 1fr 2.5em;
}

@media (max-width: 980px) {
    .naves {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 690px) {
    .naves {
        grid-template-columns: 1fr;
    }
}

.nave .name {
    font-weight: 600;
    font-size: 2.5em; 
}

.nave .buy {
    background-color: rgba(55, 55, 55, 0.8);
    padding: 4px 10px;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 4px;
    grid-column-start: 2;
    text-align: center;
}

.nave .price {
    font-weight: 600;
    font-size: 1.3em;
    align-self: center;
    justify-self: center;

}

.nave .price:before {
    content: 'Precio: ';
}

.nave .price:after {
    content: ' P';
 }

.nave .h-ico {
    display: inline;
    margin-left: 3px;
}

.nave img {
    grid-row-end: span 3;
    justify-self: end;
}

.nave .descr, .stats {
    grid-column-end: span 2;
}

.nave .svg-inline--fa {
    margin-left: 0.25em;
}

.nave .health:after{
   display: none;
   content: '\f067';
   font-family: "Font Awesome 5 Solid";
}